@media (min-width: 1024px) {
    .main-content .parent-card .card {
        height: 370px;
    }
    .main-content .parent-card .card-icons i {
        padding-left: 7px;
    }
    .main-content .image-content1 h6 {
        font-size: 10px;
    }
    .main-content .tags button {
        font-size: 10px;
        padding: 5px 1px;
    }
    .main-content .center-border {
        height: 150px;
    }
    .main-content .find-us-card .card-title {
        font-size: 9px;
    }
    .main-content .btns-group .button1 i {
        font-size: 10px;
    }
    .main-content .btns-group .button1 span {
        font-size: 10px;
    }
    .main-content .btns-group .btn {
        width: 100%;
        padding-left: 0px;
    }
}